<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
        <div class="row footer-flex">

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4">
                <ul class="gtco-footer-links">
                    <li><a href="#">Obchodné podmienky</a></li>
                    <li><a href="#">Ochrana a spracovanie osobných udajov</a></li>
                    <li><a href="#">Informácie o kurzoch</a></li>

                </ul>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-md-4">
                <ul class="gtco-footer-links">
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-4 div-social-icons">
                <p>
                    <ul class="gtco-social-icons">
                        <li><a href="https://www.instagram.com/muvschool/"><i class="icon-instagram"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/muvschool/"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCKT4DNSpYiBlMYC7WEw6ktQ"><i
                                    class="icon-youtube"></i></a></li>

                    </ul>
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> &
                        Dominika Sedileková <br>
                        Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                </p>
            </div>

        </div>

    </div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>