<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="/"></a><img src="/images/LOGO.png"></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="/">Domov</a></li>
                        <li class="active"><a href="/about">O nás</a></li>
                        <li class="has-dropdown">
                            <a href="/services"> Ponuka </a>

                        </li>
                        <li class="has-dropdown">
                            <a href="https://theroots.sk/"> Obchod </a>

                        </li>
                        <li><a href="/contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
        style="background-image:url(images/img2.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1> O nás </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2> MUVschool </h2>
                    <p> Projekt MUVschool sme sa rozhodli vytvoriť pre všetkých ľudí, ktorí žijú pohybom a pre ľudí,
                        ktorí chcú s pohybom začať bezpečne.
                        Hlavné disciplíny, ktorými sa v MUVschool zaoberáme sú hlavne Parkour a Freerun. V našom
                        tréningu čerpáme veľa z Movementu, Handbalancingu, Kalisteniky a Atletiky.
                        Našou hlavnou myšlienkou je vytvoriť vhodné podmienky pre bezpečné napredovanie a plnenie
                        vašich
                        pohybových cieľov.

                        <!--Parkour veľa ludí pozná ako skákanie zo strechy na strechu. Málokto však vie, že táto disciplína v sebe nesie filozofiu a isté hodnoty
              ako sú napríklad súdržnosť, diciplína, pokora alebo rešpektovanie. 
              Nejde len on presúvanie sa z bodu A do bodu B ale je aj o prekonávanie fyzických a mentálnych prekážok. Parkour pozostáva z rôznych pohybov,
              ktoré su priamo určené na rýchly presun cez prekážky. <br><br>
              
              Freerun vychádza z parkouru a zameriava sa hlavne na efektnosť pri presune. Táto disciplína naberá na popularite a poznáme 
              ju hlavne ako kombináciu akrobacie, základných parkourových techník a tanca.  -->
                    </p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Pohybový rozvoj </h3>
                            <p class="about-inf"> Pohyb je v našom živote dôležitou súčasťou, ktorú sa snažíme
                                rozvíjať
                                v každom možnom smere. Ukážeme ti ako môže byť pohyb zábavný a zdravý. </p>
                        </div>
                    </div>

                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Hodnoty </h3>
                            <p class="about-inf"> Pokora, rešpekt, súdržnosť, cieľavedomosť, kreativita,
                                samostatnosť.
                                Pohyb a akýkoľvek iný šport nás učí aj mentálnemu rastu a preto dbáme na hodnoty,
                                ktoré
                                vkladáme do tréningu. </p>
                        </div>
                    </div>

                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Ciele </h3>
                            <p class="about-inf"> Každý z nás má v živote ciele. Náš cieľ je pomáhať vám s vašimi
                                pohybovými cieľmi. Vyhýbať sa chybám pri tréningu je dôležité pre rýchlejšie a
                                bezpečnejšie napredovanie. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">


                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Pohybové vzorce </h3>
                            <p class="about-inf"> Trénovať sa u nás rozhodne naučíš a určite to nezabudneš ani keď
                                budeš
                                trénovať mimo našich kurzov. Dbáme o to, aby si každý odniesol z našej akadémie čo
                                najužitočnejšie princípy. </p>
                        </div>
                    </div>

                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Bezpečnosť </h3>
                            <p class="about-inf"> Pred každou novou technikou a saltom trénujeme najskôr prípravné
                                cvičenia na žinienkach.
                                Každá technika má svoj bezpečný postup a prípravné cviky. </p>
                        </div>
                    </div>

                    <div class="about-inf-header feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Komunita </h3>
                            <p class="about-inf"> Komunita
                                Parkourová komunita na Slovensku má silné korene a preto aj my prispievame našou
                                činnosťou aby sme jej pomáhali rásť. Spolu tvoríme jednu veľkú rodinu, ktorú spája
                                pohyb.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gtco-cover gtco-cover-sm" style="background-image:url(images/img7.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1> Chceš s nami trénovať ? </h1>
                            <h2>Stačí si vybrať tréning a prihlásiť sa.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gtco-team" class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2> Trénerský tím </h2>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_1.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>David Solivajs</h3>
                        <strong class="role">Hlavný tréner</strong>
                        <p>Začínal som v Banskej Bystrici, keď tu trénovalo dokopy 10 ľudí.
                            Trénoval
                            som aj niekoľko hodín denne 7 dní v týždni bez skúseného dohľadu. Mal som to tak rád, že
                            som
                            si neuvedomil čo všetko to môže spôsobiť. Začal som cestovať a získavať informácie o
                            tréningu a zlepšovať sa v tom čo mi tak veľmi učarovalo. Trénoval som seba aj ostatných
                            a s
                            pribúdajucími skúsenosťami som sa dostal k myšlienke posúvať všetky svoje skúsenosti
                            ďalej k
                            ľuďom. </p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_2.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Marek Bielik</h3>
                        <strong class="role">Hlavný tréner</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id
                            repellat
                            velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_3.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Marcel Hájik</h3>
                        <strong class="role">Pomocný tréner</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id
                            repellat
                            velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- 	<div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_1.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Jean Smith</h3>
                        <strong class="role">Web Designer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_2.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Hush Raven</h3>
                        <strong class="role">Front-end Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_3.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Alex King</h3>
                        <strong class="role">Back-end Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> -->

        </div>
    </div>


    <% include ./partials/subscribeForm %>
    <% include ./partials/footer %>