<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="/"></a><img src="/images/LOGO.png"></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="/">Domov</a></li>
                        <li class="active"><a href="/about">O nás</a></li>
                        <li class="has-dropdown">
                            <a href="/services"> Ponuka </a>

                        </li>
                        <li class="has-dropdown">
                            <a href="https://theroots.sk/"> Obchod </a>

                        </li>
                        <li><a href="/contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
        style="background-image:url(images/img2.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1> O nás </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2> MUVschool </h2>
                    <p> Projekt MUVschool sme sa rozhodli vytvoriť pre komunitu ľudí, ktorí žijú pohybom a pre ľudí,
                        ktorí chcú s pohybom začať bezpečne.
                        Hlavné disciplíny, ktorými sa v MUVschool zaoberáme sú hlavne Parkour a Freerun. V našom
                        tréningu čerpáme veľa z Movementu, Handbalancingu, Kalisteniky a Atletiky.
                        Našou hlavnou myšlienkou je vytvoriť vhodné podmienky pre bezpečné napredovanie a plnenie vašich
                        pohybových cieľov.

                        <!--Parkour veľa ludí pozná ako skákanie zo strechy na strechu. Málokto však vie, že táto disciplína v sebe nesie filozofiu a isté hodnoty
          ako sú napríklad súdržnosť, diciplína, pokora alebo rešpektovanie. 
          Nejde len on presúvanie sa z bodu A do bodu B ale je aj o prekonávanie fyzických a mentálnych prekážok. Parkour pozostáva z rôznych pohybov,
          ktoré su priamo určené na rýchly presun cez prekážky. <br><br>
          
          Freerun vychádza z parkouru a zameriava sa hlavne na efektnosť pri presune. Táto disciplína naberá na popularite a poznáme 
          ju hlavne ako kombináciu akrobacie, základných parkourových techník a tanca.  -->
                    </p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Pohybový rozvoj </h3>
                            <p> Na tréningoch skáčeme, ale určite nie zo strechy na strechu. Venujeme pozornosť
                                základným technikám a bezpečnosti. </p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Hodnoty </h3>
                            <p> Pokora, rešpekt, súdržnosť, cieľavedomosť, krativita, samostatnosť. Hodnôt, ktoré v sebe
                                Parkour a Freerun nesú je mnohoa snažíme sa ich vkladať do našich tréningov. </p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Filozofia </h3>
                            <p> Kong, cat leap, lazy, spin, speed. Techník, ktoré sa používajú pri tréningu je veľa a
                                prejdeme si postupne všetky. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">


                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Pohybové vzorce </h3>
                            <p> Na tréningoch sa učíme zlepšovať to čo už vieme a pridávame do tréningu aj nové techniky
                                na efektný a efektívny presun. </p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Bezpečnosť </h3>
                            <p> Pred každou novou technikou a saltom trénujeme najskôr prípravné cvičenia na žinienkach.
                                Každá technika má svoj bezpečný postup a prípravné cviky. </p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3> Komunita </h3>
                            <p> Náš tréningový koncept obsahuje po bezpečnej príprave aj saltá. Veľmi často používané
                                slovo "beko" znamená salto vzad. Na tento trik aj na veľa iných sa vieme na našich
                                tréningoch pripraviť. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gtco-cover gtco-cover-sm" style="background-image:url(images/img7.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1> Chceš s nami trénovať ? </h1>
                            <h2>Stačí si vybrať tréning a prihlásiť sa.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gtco-team" class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2> Trénerský tím </h2>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_1.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>David Solivajs</h3>
                        <strong class="role">Hlavný tréner</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat
                            velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_2.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Marek Bielik</h3>
                        <strong class="role">Hlavný tréner</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat
                            velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/person_3.jpg" alt="Free HTML5 Templates by freehtml5.co">
                        <h3>Marcel Hájik</h3>
                        <strong class="role">Pomocný tréner</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat
                            velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- 	<div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="images/person_1.jpg" alt="Free HTML5 Templates by freehtml5.co">
                    <h3>Jean Smith</h3>
                    <strong class="role">Web Designer</strong>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="images/person_2.jpg" alt="Free HTML5 Templates by freehtml5.co">
                    <h3>Hush Raven</h3>
                    <strong class="role">Front-end Developer</strong>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="images/person_3.jpg" alt="Free HTML5 Templates by freehtml5.co">
                    <h3>Alex King</h3>
                    <strong class="role">Back-end Developer</strong>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        </div>
    </div>


    <div id="gtco-subscribe">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Subscribe</h2>
                    <p>Be the first to know about the new templates.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Your email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-2 col-sm-4 col-xs-6 ">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Meetups</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Creative Design</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Illustration</a></li>
                        <li><a href="#">Subscribe</a></li>
                        <li><a href="#">Monthly Event</a></li>
                    </ul>
                </div>

                <div class="clearfix visible-xs-block"></div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Meetups</a></li>
                    </ul>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Handbook</a></li>
                        <li><a href="#">Held Desk</a></li>
                    </ul>
                </div>

                <div class="clearfix visible-xs-block"></div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Find Designers</a></li>
                        <li><a href="#">Find Deelopers</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Meetups</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
                            Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p class="pull-right">
                        <ul class="gtco-social-icons pull-right">
                            <li><a href="https://www.instagram.com/muvschool/"><i class="icon-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/muvschool/"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCKT4DNSpYiBlMYC7WEw6ktQ"><i
                                        class="icon-youtube"></i></a></li>

                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>